<center><h1>Welcome to ChatBit</h1></center>

<% if current_user%>
	<div>
		<p>
			Hey,<%= current_user.name%> <%=image_tag(current_user.image) if current_user.image%>
		</p>
	</div>
<% end%>


<% unless current_user%>
	<div class="login-panel">
		
		<div class="facebook-login">
			<p>
				<%= link_to "sign in with facebook", user_facebook_omniauth_authorize_path %>
			</p>
		</div>
		<div class="google-login">
			<p>
				<%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
			</p>
		</div>
	</div>

<% else%>
	<% provide(:page_title, current_user.name) %>
	<div>
		<p>
			<%= link_to "Log out", destroy_user_session_path, method: :delete %>
		</p>
	</div>
<% end %>