<!DOCTYPE html>
<html>
    <head>
	    <title><%= yield(:page_title)%> | Chatbit</title>
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	</head>
  	<body>
  		<%= render 'layouts/navbar'%>
	  	<div class="notice">
	  		<p><%= notice %></p>
	  	</div>
	  	<div class="alert">
			<p><%= alert %></p>
	  	</div>
	  	<div class="container">
		    <%= yield %>
	  	</div>
  	</body>
</html>
